@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* 
  kullanıcı sayfada gezinirken smooth efekt verildi.
*/
html{
  scroll-behavior:smooth;
}
body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Oswald', sans-serif;
	background-color: #fff;
	z-index: 1;
	overflow-x: hidden;
	padding: 0px 15px;
}
ul{
  display:flex;
  flex-direction:row;
  align-items:space-between;
  justify-content:space-around;
  list-style:none;
  padding-bottom:1%;
}
a{
  text-decoration:none;
  color:#000;
}
a:hover{
  text-decoration:none;
  color:#f1692b;
}

/* Header */

header {
	position: relative;
	width: 100%;
	text-align: center;
}

header h1,
header h3 {
	font-size: 48px;
	font-weight: 500;
	letter-spacing: 5px;
	color: #000;
	text-transform: uppercase;
}

header h3 {
	font-size: 16px;
	font-weight: 400;
}


/* Section */

section {
  display:flex;
    flex-direction:column;
	position: relative;
	width: 100%;
	padding: 200px 0px;
	background-size: cover !important;
	background-attachment: fixed !important;
	overflow: hidden;
}

section::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
}

.parallax__1 {
	background: url('https://res.cloudinary.com/dsmjyvt68/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1605126661/fashion_store_1.jpg') no-repeat center center;
}

.parallax__2 {
	background: url('https://res.cloudinary.com/dsmjyvt68/image/upload/v1605126307/samples/ecommerce/analog-classic.jpg') no-repeat center center;
}

.parallax__3 {
	background: url('https://res.cloudinary.com/dsmjyvt68/image/upload/v1605126320/samples/ecommerce/accessories-bag.jpg') no-repeat center center;
}

section h2,h3 {
	font-size: 100px;
	letter-spacing: 10px;
	text-align: center;
	color: rgba(255, 255, 255, .9);
   text-shadow: 2px 2px 2px;
	font-weight: 400;
	text-transform: uppercase;
	z-index: 1;
}
section h3{
  font-size:20px;
}
.btn-white{
  background-color:rgba(255,255,255,0.8);
  font-size:3vh;
  align-self:center;
  margin-top:10vh;
  width:15%;
  height:6vh;
  cursor: pointer;
  z-index:2;
  border-radius:10%;
}
.btn-border{
  background: none;
  color:#fff;
   border:  2px solid white;
  font-size:3vh;
  align-self:center;
  margin-top:10vh;
  width:15%;
  height:6vh;
  cursor: pointer;
  z-index:1;
}
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  margin:5px;
  right: 100%;
  background: #000;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
.hvr-hollow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-hollow:hover, .hvr-hollow:focus, .hvr-hollow:active {
  background: none;
}
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 3px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}